.Article {
    display: flex;

    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    background: rgba(85, 85, 85, 0.15);

    padding: 20px;
    border-radius: 5px;

    width: 100%;
}

.Article:not(:first-child) {
    margin-top: 20px;
}

.Article a {
    color: #9393f9;
}

.Article-Header {
    display: flex;

    flex-direction: column;
    justify-content: flex-start;
}

.Article-Title {
    margin: 0;
}

.Article-Date {
    margin-top: 5px;

    font-size: 14px;
    font-weight: 100;

    color: #939393;
}