.Header {
    background: rgba(85, 85, 85, .15);

    width: 100%;
}

.Header-Logo {
    width: 100px;
    height: 100px;

    border-radius: 100%;

    margin: 5px 20px;
}

.Nav {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;

    padding: 10px;
}

.Nav-Item {
    color: #fff;
    text-decoration: none;

    display: flex;
    align-items: center;

    margin: 0 20px;
}

.Header-Icon {
    width: 50px;
    height: 50px;
}

.Header-Span_iconed{
    margin-left: 20px;
}